<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>::Brewer</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/vendors/easy-autocomplete.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/vendors/easy-autocomplete.themes.min.css}"
    />

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="aw-layout-content js-content" layout:fragment="content">
      <div class="page-header">
        <div class="container-fluid">
          <h1>Cadastro de venda</h1>
        </div>
      </div>

      <div class="container-fluid">
        <!-- success message  -->
        <div
          class="alert alert-success alert-dismissible"
          role="alert"
          th:if="${msg != null}"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-exclamation-circle"></i>
          <span th:text="${msg}"></span>
        </div>

        <!-- errors message  -->
        <div
          class="alert alert-danger alert-dismissible"
          role="alert"
          th:if="${#fields.hasErrors('${venda.*}')}"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div
            th:each="detailedError :  ${#fields.detailedErrors('${venda.*}')}"
          >
            <i class="fa fa-exclamation-circle"></i>
            <span>[[${detailedError.message}]]</span>
          </div>
        </div>

        <form method="POST" th:action="@{/sell/new}" th:object="${venda}">
          <input type="hidden" id="uuid" th:field="*{uuid}" />
          <div class="row">
            <div class="col-sm-4">
              <div class="aw-box">
                <div class="aw-box__icon">
                  <i class="fa fa-usd fa-3x"></i>
                </div>

                <div class="aw-box__value js-aw-box__value">
                  R$ <span class="js-valor-total-box" th:text="${venda.valorTotal}"></span>
                </div>

                <div class="aw-box__title">Total</div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="aw-box">
                <div class="aw-box__icon">
                  <i class="fa fa-tag fa-3x"></i>
                </div>

                <div class="aw-box__value">Orçamento</div>

                <div class="aw-box__title">Status</div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="aw-box">
                <div class="aw-box__icon">
                  <i class="fa fa-calendar fa-3x"></i>
                </div>

                <div class="aw-box__value">
                  <span class="js-tooltip">Hoje</span>
                </div>

                <div class="aw-box__title">Criação</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="form-group col-sm-4 bw-required"
              th:classappend="${#fields.hasErrors('cliente.codigo')} ? 'has-error'"
            >
              <label class="control-label" for="nomeCliente">Cliente</label>

              <div class="input-group">
                <input
                  id="nomeCliente"
                  type="text"
                  readonly="readonly"
                  class="form-control"
                  placeholder="Clique na lupa para pesquisar o cliente"
                  th:field="*{cliente.nome}"
                />

                <input id="codigoCliente" type="hidden" th:field="*{cliente}" />
                <span
                  class="input-group-btn"
                  th:classappend="${#fields.hasErrors('cliente.codigo')} ? 'has-error'"
                >
                  <button
                    class="btn btn-default js-tooltip"
                    type="button"
                    title="Pesquisa avançada"
                    data-toggle="modal"
                    data-target="#pesquisaRapidaClientes"
                  >
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group col-sm-4">
              <label class="control-label" for="valorFrete"
                >Valor do frete</label
              >

              <div class="input-group">
                <div class="input-group-addon">R$</div>

                <input
                  type="text"
                  maxlength="14"
                  class="form-control js-decimal-mask"
                  id="valorFrete"
                  th:field="*{valorFrete}"
                />
              </div>
            </div>

            <div class="form-group col-sm-4">
              <label class="control-label" for="valorDesconto"
                >Valor do desconto</label
              >

              <div class="input-group">
                <div class="input-group-addon">R$</div>

                <input
                  type="text"
                  maxlength="14"
                  class="form-control js-decimal-mask"
                  id="valorDesconto"
                  th:field="*{valorDesconto}"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <ul class="nav nav-tabs js-abas-venda">
                <li role="presentation" class="active">
                  <a href="#cervejas">Cervejas</a>
                </li>

                <li role="presentation"><a href="#entrega">Entrega</a></li>
              </ul>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="cervejas">
              <div class="row">
                <div class="form-group col-lg-12">
                  <input
                    type="text"
                    class="form-control js-sku-name-search-input"
                    id="cerveja"
                    placeholder="Pesquise e adicione a cerveja pelo SKU ou nome"
                    autofocus="autofocus"
                  />
                </div>
              </div>

              <div class="js-tabela-cervejas-container">
                <div
                  class="bw-tabela-cervejas__vazio"
                  th:if="${venda.itensVenda.empty}"
                >
                  <i class="glyphicon glyphicon-shopping-cart"></i>

                  <span>Você ainda não adicionou nenhuma cerveja.</span>
                </div>

                <th:block th:if="${!venda.itensVenda.empty}">
                  <div
                    class="bw-tabela-item js-tabela-item"
                    data-valor-total=""
                    th:each="item : ${itens}"

                  >
                    <div
                      class="bw-tabela-item__coluna bw-tabela-item__coluna--foto"
                    >
                      <img
                        th:src="@{'/fotos/thumbnail/thumbnail.cerveja-mock.png'}"
                        class="img-responsive"
                      />
                    </div>

                    <div
                      class="bw-tabela-item__coluna bw-tabela-item__coluna--detalhes"
                    >
                      <span
                        class="bw-tabela-cerveja-nome"
                        th:text="${item.cerveja.nome}"
                      ></span>
                      <span
                        class="label label-default"
                        th:text="${ item.cerveja.sku }"
                      ></span>
                      <span
                        class="bw-tabela-cerveja-origem"
                        th:text="${ item.cerveja.origem }"
                      ></span>
                    </div>

                    <div
                      class="bw-tabela-item__coluna bw-tabela-item__coluna--valores"
                    >
                      <div class="bw-tabela-cerveja-valor-pequeno">
                        <input
                          type="number"
                          maxlength="3"
                          class="bw-tabela-cerveja-campo-quantidade js-tabela-qtd-item"
                          th:attr="data-codigo-cerveja=${ item.cerveja.codigo }"
                          th:value="${ item.quantidade }"

                        />
                        <span
                          >x R$
                          [[${#numbers.formatDecimal(item.valorUnitario, 0, 'POINT', 2, 'COMMA')}]]</span
                        >
                      </div>

                      <div class="bw-tabela-cerveja-valor-grande">
                        [[${#numbers.formatDecimal(item.valorTotal, 0, 'POINT', 2, 'COMMA')}]]
                      </div>
                    </div>

                    <div class="bw-tabela-item__painel-exclusao">
                      <span class="bw-tabela-item__titulo-exclusao"
                        >Deseja excluir este ítem da venda?</span
                      >
                      <buttom
                        class="btn btn-danger js-exclusao-item-btn"
                        data-codigo-cerveja="${
                          item.cerveja.codigo
                        }"
                        >Excluir</buttom
                      >
                    </div>
                  </div>
                </th:block>
              </div>
            </div>

            <div class="tab-pane" id="entrega">
              <div class="row">
                <div
                  class="form-group col-sm-3"
                  th:classappend="${#fields.hasErrors('dataEntrega')} ? 'has-error'"
                >
                  <label class="control-label" for="dataEntrega"
                    >Data da entrega</label
                  >

                  <input
                    type="date"
                    class="form-control"
                    id="dataEntrega"
                    th:field="*{dataEntrega}"
                  />
                </div>

                <div class="form-group col-sm-3">
                  <label class="control-label" for="horarioEntrega"
                    >Horário de entrega</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="horarioEntrega"
                    th:field="*{horarioEntrega}"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-12">
                  <textarea
                    class="form-control"
                    id="observaca"
                    rows="5"
                    placeholder="Alguma observação para o entregador desse pedido?"
                    th:field="*{observacao}"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="clear: both">
            <div class="col-lg-12">
              <div class="btn-group">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                  <li><a href="#">Salvar e emitir</a></li>
                  <li><a href="#">Salvar e enviar por e-mail</a></li>
                </ul>
              </div>

              <button class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
      <th:block
        th:replace="customer/fragments/customer-quick-search :: customerQuickSearch"
      ></th:block>
    </section>

    <th:block layout:fragment="js-import-extras">
      <script
        type="module"
        th:src="@{/assets/js/vendors/jquery.easy-autocomplete.min.js}"
      ></script>
      <script>
        $(function () {
          $(".js-abas-venda a").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
          });
        });
      </script>
    </th:block>
  </body>
</html>
